<div class="well">
  <a routerLink="/lugares">Lugares</a> / Contacto
</div>

<section class="wrap_contacto">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dev_servicio">
          <div class="img_logo">
            <!-- <img src="../../assets/images/fondo.jpg"> -->
          </div>

          <div class="color_white text-center">
            <h3>CONTACTENOS</h3>
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 3104615833</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> contacto@dev.com</p>
            <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Popayan - Colombia</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form_box">
          <h3>ESCRIBENOS<span class="glyphicon glyphicon-send" aria-hidden="true">  </span></h3>
          <form>
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" required="" />
            <br/>
            <label>Correo</label>
            <input type="email" class="form-control" placeholder="Correo" required="" />
            <br/>
            <label>Mensaje</label>
            <textarea class="form-control" placeholder="Escribe tu mensaje" required=""></textarea>
            <hr/>
            <a class="btn btn_enviar">Enviar<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
            <a class="btn btn_cancelar" routerLink="/lugares">Cancelar</a>

          </form>
        </div>
      </div>

    </div>
  </div>
</section>