<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  
  </div>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
  
  <!-- Property Binding []-->
  <button [disabled]="!listo">Property</button>
  
  <!-- Event Binding () -->
  <button (click)="hacerAlgo()">Event</button>
  
  <hr/>
  <!-- Two Way Data Binding [()]  -->
  <input type="text" placeholder="Nombre" [(ngModel)]="pNombre" />
  <input type="text" placeholder="Apellido" [(ngModel)]="pApellido" />
  <br/> nombre completo: {{pNombre}} {{pApellido}}
  
  <hr/>
  <!-- google maps - longitud, latitud, zoom y agm-map en style -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  
  <hr/>
  <!-- ngFor -->
  <h2>
    ngFor
  </h2>
  
  <ul>
    <li *ngFor="let lugar of listaLugares">{{lugar.nombre}}</li>
  </ul>
  
  <hr/>
  <!-- ngFor - ngIf-->
  <h2>
    ngFor - ngIf
  </h2>
  
  <ul>
    <ng-container *ngFor="let lugar of listaLugares">
      <li *ngIf="lugar.active">{{lugar.nombre}} </li>
    </ng-container>
  </ul>
  
  <hr/>
  <!-- *ngStyle: directiva de tipo atributo-->
  <h2>
    *ngStyle
  </h2>
  
  <ul>
    <ng-container *ngFor="let lugar of listaLugares">
      <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray' }">{{lugar.nombre}} </li>
    </ng-container>
  </ul>
  
  <hr/>
  <!-- *ngClass: directiva de tipo atributo -->
  <h2>
    *ngClass
  </h2>
  <ul>
    <ng-container *ngFor="let lugar of listaLugares; let i = index ">
      <li [ngClass]="{numeroPar: (i+1) % 2 !== 0}">{{lugar.nombre}} </li>
    </ng-container>
  </ul>
  
  
  
  <hr/>
  <!-- *ngSwitch: combina una directiva estructural y una de atributo -->
  <h2>
    *ngSwitch
  </h2>
  
  <ul>
    <ng-container *ngFor="let lugar of listaLugares; let i = index" [ngSwitch]="lugar.cercania">
      <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray' }">
        {{lugar.nombre}} -
        <span *ngSwitchCase="1" [ngStyle]="{color:'green'}"> Muy cercano </span>
        <span *ngSwitchCase="2" [ngStyle]="{color:'black'}"> cercano </span>
        <span *ngSwitchCase="3" [ngStyle]="{color:'red'}"> Lejos </span>
      </li>
    </ng-container>
  </ul>
  
  <hr/>
  <!-- Directiva de atributo-->
  <h2>
    Directiva de atributo
  </h2>
  <ul>
    <ng-container *ngFor="let lugar of listaLugares; let i = index ">
      <li [ngClass]="{numeroPar: (i+1) % 2 !== 0}" [resaltar]="lugar.plan">{{lugar.nombre}} </li>
    </ng-container>
  </ul>
  
  <hr/>
  <!-- Contar clicks con directiva de atributo
  @HostListener: escucha eventos del usuario en el DOM -->
  <h2>
    Contar clicks con directiva de atributo
  </h2>
  
  <ul>
    <ng-container *ngFor="let lugar of listaLugares; let i = index" [ngSwitch]="lugar.cercania">
      <a contar-clicks>
        <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray' }">
          {{lugar.nombre}} -
          <span *ngSwitchCase="1" [ngStyle]="{color:'green'}"> Muy cercano </span>
          <span *ngSwitchCase="2" [ngStyle]="{color:'black'}"> cercano </span>
          <span *ngSwitchCase="3" [ngStyle]="{color:'red'}"> Lejos </span>
        </li>
      </a>
    </ng-container>
  </ul>
  
  <hr/>
  <!-- Contar clicks con directiva de atributo
  @HostListener: escucha eventos del usuario en el DOM
  @HostBinding: edita el DOM desde la propia directiva -->
  <h2>
    Opacidad con directiva de atributo
  </h2>
  
  <ul>
    <ng-container *ngFor="let lugar of listaLugares; let i = index" [ngSwitch]="lugar.cercania">
      <a>
        <li contar-clicks [ngStyle]="{color: (lugar.active) ? 'black' : 'gray' }">
          {{lugar.nombre}} -
          <span *ngSwitchCase="1" [ngStyle]="{color:'green'}"> Muy cercano </span>
          <span *ngSwitchCase="2" [ngStyle]="{color:'black'}"> cercano </span>
          <span *ngSwitchCase="3" [ngStyle]="{color:'red'}"> Lejos </span>
        </li>
      </a>
    </ng-container>
  </ul>
  
  
  <hr/>
  <!-- Boostrap-->
  <h2>
    Boostrap
  </h2>
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">PlatziSquare!</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Inicio <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  
  <div class="container">
  
    <div class="row">
      <div class="col-md-8">
        <h2>Lugares cercano</h2>
        <ul class="list-group">
          <ng-container *ngFor="let lugar of listaLugares; let i = index ">
            <li class="list-group-item" [ngClass]="{numeroPar: (i+1) % 2 !== 0}" [resaltar]="lugar.plan">{{lugar.nombre}} </li>
          </ng-container>
        </ul>
      </div>
  
      <div class="col-md-4">
        <h2>Destados</h2>
      </div>
    </div>
  </div>
  
  