<div class="well">
  <a routerLink="/lugares">Lugares</a> / Crear lugar
</div>

<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre" />
  <br/>
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia" />
  <br/>
  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania" />
  <br/>
  <label>Descripcion</label>
  <textarea type="text" class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
  <br/>
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.plan" />


  <br/>
  <h3>Datos de dirección</h3>
  <label>Calle y numero</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.calle" />
  <br/>
  <label>Ciudad</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.ciudad" />
  <br/>
  <label>Pais</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.pais" />



  <hr/>
  <a class="btn btn-primary" (click)="guardarLugar()">Guardar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>