<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<!-- Property Binding []-->
<button [disabled]="!listo">Property</button>

<!-- Event Binding () -->
<button (click)="hacerAlgo()">Event</button>

<hr/>

<!-- Two Way Data Binding [()]  -->
<input type="text" placeholder="Nombre" [(ngModel)]="pNombre" />
<input type="text" placeholder="Apellido" [(ngModel)]="pApellido" />
<br/> nombre completo: {{pNombre}} {{pApellido}}



<!-- google maps - longitud, latitud, zoom y agm-map en style -->

<hr/>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr/>

<hr/>
<!-- ngFor -->
<h2>
  ngFor
</h2>

<ul>
  <li *ngFor="let lugar of listaLugares">{{lugar.nombre}}</li>
</ul>

<hr/>
<!-- ngFor - ngIf-->
<h2>
  ngFor - ngIf
</h2>

<ul>
  <ng-container *ngFor="let lugar of listaLugares">
    <li *ngIf="lugar.active">{{lugar.nombre}} </li>
  </ng-container>
</ul>

<hr/>
<!-- *ngStyle: directiva de tipo atributo-->
<h2>
  *ngStyle
</h2>

<ul>
  <ng-container *ngFor="let lugar of listaLugares">
    <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray' }">{{lugar.nombre}} </li>
  </ng-container>
</ul>

<hr/>
<!-- *ngClass: directiva de tipo atributo -->
<h2>
  *ngClass


  <hr/>
  <!-- *ngSwitch: combina una directiva estructural y una de atributo -->
  <h2>
    *ngSwitch
  </h2>

  <ul>
    <ng-container *ngFor="let lugar of listaLugares; let i = index" [ngSwitch]="lugar.cercania">
      <li [ngStyle]="{color: (lugar.active) ? 'black' : 'gray' }">
        {{lugar.nombre}} -
        <span *ngSwitchCase="1" [ngStyle]="{color:'green'}"> Muy cercano </span>
        <span *ngSwitchCase="2" [ngStyle]="{color:'black'}"> cercano </span>
        <span *ngSwitchCase="3" [ngStyle]="{color:'red'}"> Lejos </span>
      </li>
    </ng-container>
  </ul>